<footer>
    <div class="content">
        <%= render 'partials/layouts/main/contacts' %>
        <div class="social">
            <a href=""><%= svg :facebook %></a>
            <a href=""><%= svg :instagram %></a>
            <a href=""><%= svg :google_plus %></a>
        </div>
        <div class="logo">
            <%= svg :logo_full %>
        </div>
    </div>
    <div class="line"></div>
</footer>
