<div class="section-item">
    <%= image_tag 'viktoriya.jpg' %>
    <div class="project-description">
        <h3><%=t '.project_title' %></h3>
        <p>
            <b><%=t '.task.title' %></b>
            <%=t '.task.description' %>
        </p>
        <p>
            <b><%=t '.solution.title' %></b>
            <%=t '.solution.description' %>
        </p>
        <%= link_to t('.button'), 'http://viktoriya-kiev.com', target: :_blank  %>
    </div>
</div>
