<!doctype html>
<html>
<head>
    <title>Artmartstudio</title>
    <%= stylesheet_link_tag    :application, 'data-turbolinks-track' => true, media: :all %>
    <%= javascript_include_tag :application, 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
    <%= render 'partials/layouts/main/header' %>

    <div id="main">
        <%= yield %>
    </div>

    <%= render 'partials/layouts/main/footer' %>
</body>
</html>
